// bootstrap functions (used in _settings.scss)
@import '~bootstrap/scss/functions';

// matter functions
@import 'functions';

// config
@import 'settings';

// bootstrap
@import '~bootstrap/scss/bootstrap';

// components
@import
  'components/typography',
  'components/icon',
  'components/card',
  'components/button',
  'components/forms',
  'components/navs',
  'components/header',
  'components/thumbnail',
  'components/sidebar',
  'components/container',
  'components/dropdown',
  'components/breadcrumb',
  'components/badge',
  'components/table',
  'components/chart';

// helpers
@import 'helpers';


img {
  border-radius: 60%;
  width: 30px;
  height: 40px;
  background-image: url("../images/whitestatico.jpg");
  cursor: pointer;
  vertical-align:middle;
} 

.box {
  display: flex;
  align-items:center;
}


